main{
    background-color: #f7ecde;
    min-height: 100vh;
}

h1{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    color: #352e28;
    position: relative;
    width: fit-content;
    margin: auto;
    z-index: 1;
}
h1::after{
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #fec260;
    transition: height 0.5s;
}
h1:hover::after {
    height: 70%;
}
.Bookmarker-body{
    
    /* Syntax: <line-width> || <line-style> || <color> */
    border: 2px dotted #352e28;
    border-right: 0;
    border-left: 0;
    margin-top: 70px;
}
h2{
    font-family: "Righteous", serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* background: linear-gradient(to right, #3ca55c, #b5ac49); */
}
input,
label{
    font-family: "PT Sans Caption", serif;
    font-weight: 400; 
    font-size: 18px;
    line-height: 24px;
    color: #212529;
   
}
label{
    font-weight: 600;
}
.form-control:focus {
  border-color: #fec260;
  box-shadow:  0 0 8px #fec260;
}
.submit{
    font-family: "PT Sans Caption", serif;
    font-weight: 400; 
    font-size: 18px;
    background-color: #d1512d;   
    color: #fff;
}
.submit:hover{
    background-color: #a03315;
    color: #fff;
}
.table{
    font-family: "PT Sans Caption", serif;
    font-weight: 400; 
    font-size: 18px;
    background-color:#f8f9fa;
}
.visit{
    font-family: "PT Sans Caption", serif;
    font-weight: 400; 
    font-size: 18px;
    background-color: #9eb23b;
    border-color: #9eb23b;
    color: #fff;
}
.visit:hover{
    background-color: #8a9e23;
    border-color: #6e8018;
    color: #fff;
}
.delete{
    font-family: "PT Sans Caption", serif;
    font-weight: 400; 
    font-size: 18px;
    background-color: #eb1d36;
    border-color: #eb1d36;
    color: #fff;
}
.delete:hover{
    background-color: #d30820;
    border-color: #ba081d;
    color: #fff;
}
/* =====================================================layer================================== */
.layer{
    background-color: #0007;
    
}
.box{
    width: 50%;
}
.circle span {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.circle span:nth-child(1){
    background-color: #f15f5d;
}
.circle span:nth-child(2){
    background-color: #febe2e;
}
.circle span:nth-child(3){
    background-color: #4db748;
}
.layer p {
    font-family: "Bree Serif";
    font-size: 23px;
    line-height: 27px;
    color: #352e28;
}
.layer ul li {
    font-family: "PT Sans Caption";
    font-size: 19px;
    line-height: 27px;
    color: #212529;
}
.layer ul li .fa-circle-right {
    
    color: #bb4120;
}